/* ----- Browser and Css reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(238, 236, 204), rgb(240, 189, 135));
}

.div {
  width: 20rem;
  height: 15rem;
  /* border: 1px solid gray; */
}

.fancy__card-rect {
  fill: silver;
}
