/* ----- Browser and Css reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

/* ----- Background image with overlay ----- */
.hero__img {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(70, 52, 34, 0.6), rgba(51, 25, 0, 0.9)),
    url("../anim_img/garlic.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* ----- Main title and sub title ----- */
.header {
  display: flex;
  width: 70vw;
  height: 30vh;
  justify-content: center;
  align-items: flex-end;
}

.header__text-box {
  width: 70rem;
  height: 20rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2rem;
  line-height: 4rem;
  font-family: "Helvetica", sans-serif;
  margin-top: 3rem;
}

.header__main {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 3rem;
}

.header__sub {
  display: block;
  position: absolute;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 1.6rem;
}

/* ----- Main content ----- */
.main {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 58vh;
  margin: auto;
  justify-content: flex-end;
  align-items: flex-end;
}

.first__card {
  display: flex;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
}

/* ----- Button with hoover effect ----- */
.first__card-btn {
  width: 30rem;
  height: 6rem;
  background-color: rgb(149, 52, 98);
  border-radius: 2.5rem;

  color: #fff;
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
  font-weight: 400;

  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.first__card-btn:hover {
}

/* ----- Text box with quotes ----- */
.text--box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 42rem;
  height: 40rem;
  background-color: rgba(119, 119, 119, 0.6);
  border-radius: 0.5rem;
}

.card--quote1 {
  position: absolute;
  top: -2rem;
  left: -1rem;
  font-size: 6rem;
}

.card--quote2 {
  position: absolute;
  bottom: -2rem;
  right: -1rem;
  font-size: 6rem;
}

.first__card-text {
  color: #fff;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 2rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

/* ----- Animation selectors ----- */
@keyframes {
}
